.login-wrapper {
    margin: auto;
    margin-top: 1%;
    width: 50%;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}


.navStyle {
   
    background: #520a2e;

}

