    <nav class="navbar navbar-expand-lg navbar-dark navStyle">
        <div class="container-fluid">
            <a class="navbar-brand" >Employee Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/employeedashboard" >Home</a>
                    </li>
                  
                </ul>
                <ul class="navbar-nav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/employeelogin">Logout</a>
                        </li>
                      
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

    <h1 style="text-align: center; margin-top: 20px;">View Leave Status</h1>
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
          
<table class = "table table-striped"  >
    <thead>
        <tr>
            <th>Leave ID</th>
            <th>Leave Reason</th>
            <th>Description </th>
            <th>From date </th>
            <th>To Date </th>
            <th>Leave Status</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let leave of leaves" >
            <td> {{ leave.leave_id }} </td>
            <td> {{ leave.leaveReason }} </td>
            <td> {{ leave.description }} </td>
            <td> {{ leave.FromDate }} </td>
            <td> {{ leave.ToDate }} </td>
            <td> {{ leave.leaveStatus }} </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
        </div>
    </div>
</div>
